.Wrapper {
  width: 100px;
  height: 100px;
  display: block;
  z-index: 1000;
  position: relative;
}

.Wrapper .MouseParallaxButton {
  width: 100%;
  height: 90%;
  background-color: red;
  transition: transform 0.3s;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 1px 1px;
}

.left {
  transform: skewY(-3deg) translate3d(0, -0.5px, 0);
}

.right {
  transform: skewY(3deg) translate3d(0, -0.5px, 0);
}

.Wrapper .MirroringSpan {
  width: 100%;
  height: 20%;
  margin-top: -17%;
  background-color: grey;
  border-radius: 5px;
  position: relative;
  z-index: -1;
}

.clicked {
  transform: scale(1, 0.9);
  transform: translate(0, 2px);
}
